.color_black3{
	color: #999999!important;
}
.color_black4{
	color: #777777!important;
}
.color_white3{
	color: rgba(255,255,255,0.7)!important;
}
.padding-gero{
	padding-left:0px;
	padding-right:0px;
}
.inputfield2{
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	background: transparent;
	border: 2px solid #21ac97;
	border-radius: 0;
	margin-right: 1%;
	font-size: 14px;
	color: #879cb0;
	height: 50px;
	padding-left: 16px;
	}
.submit-button-2{
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	font-size: 12px;
	line-height: 18px;
	width: 100%;
	height: 50px;
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 1px;
	background:#21ac97;
	color: #ffffff;
	}
.submit-button-2:focus{
	outline: 0;
	color: #ffffff;
	background-color: #e74c3c;
	}
.hosting-secction-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 70px;
}
.knowledge-tab-content .knowledge-tab-text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 30px;
}
.knowledge-tab-content .knowledge-tab-text2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 40px;
}
.hosting-subscriber-content p strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #bab8b8;
}
.client-testimonial-info img {
    width: 68px;
    height: 68px;
    margin-right: 15px;
    border-radius: 50%;
    float: left;
    clear: both;
}
.submit-black{
	border:2px solid #777777!important;
	color:#fff;
	text-align:center!important;
}
.submit-green{
	border:2px solid #21ac97!important;
	color:#fff;
	text-align:center!important;
}
.submit-green-1{
	background:#21ac97!important;
	border:2px solid #21ac97!important;
	color:#fff;
	text-align:center!important;
}
.tab-content-2 .nav-tabs>li.active>a,
.tab-content-2 .nav-tabs>li.active>a:focus,
.tab-content-2 .nav-tabs>li.active>a:hover{
	border: none;
	background-color: #20a086;
	color: #ffffff;
}
.tab-content-3 .nav-tabs>li.active>a,
.tab-content-3 .nav-tabs>li.active>a:focus,
.tab-content-3 .nav-tabs>li.active>a:hover{
	border: none;
	background-color: #fc7173;
	color: #ffffff;
}
.tab-content-4 .nav-tabs>li.active>a,
.tab-content-4 .nav-tabs>li.active>a:focus,
.tab-content-4 .nav-tabs>li.active>a:hover{
	border: none;
	background-color: #444445!important;
	color: #ffffff;
}
.list-title span {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}